-i https://pypi.org/simple
amqp==2.4.1
billiard==3.5.0.5
celery[redis]==4.2.1
dj-database-url==0.5.0
django==2.1.7
djangorestframework-jwt==1.11.0
djangorestframework==3.9.1
gunicorn==19.9.0
kombu==4.3.0
psycopg2==2.7.7
pyjwt==1.7.1
pytz==2018.9
redis==3.2.0
vine==1.2.0
